.admin-payment-wrapper .admin-payment-title {
  color: #262626 !important;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

.admin-payment-wrapper .admin-payment-toolbar {
  margin-bottom: 20px;
}

.admin-payment-wrapper .admin-payment-control {
  height: 34px !important;
}

.admin-payment-wrapper .ant-input-affix-wrapper.admin-payment-control {
  display: inline-flex !important;
  align-items: center !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.admin-payment-wrapper .admin-payment-control input {
  line-height: normal !important;
  height: 100% !important;
}

.admin-payment-wrapper .ant-select.admin-payment-control .ant-select-selector {
  height: 34px !important;
  align-items: center !important;
}

.admin-payment-wrapper .ant-input-number.admin-payment-control .ant-input-number-input {
  height: 32px !important; 
}

.admin-payment-wrapper button.admin-payment-control {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
}